.wrapper{
  background-color: #dee1e3;
}
header {
  height: 190px;
  background-image: none;
}
h1{
  font: 72px Supermolot-Thin-Italic;
  letter-spacing: -3px;
  text-transform: uppercase;
  line-height: 60px;
  margin-left: 113px;
}
.backlink{
  font: 14px Supermolot-Light;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 40px;
  margin-left: 115px;
  margin-bottom: 18px;
  color: #ed1651;
}
.product_container{
  width: 1170px;
  height: 578px;
  margin: auto;
  background-color: #fff;
  margin-bottom: 24px;
}
.product_container>div{
  display: inline-block;
  vertical-align: top;
}
.foto-container{
  width: 470px;
  height: 578px;
}
.gallery-top {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  margin-top: 0;
  height: 100%;
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  width: 60%;
  height: 20%;
  box-sizing: border-box;
  padding: 25px 0;
}
.gallery-thumbs .swiper-slide {
  width: 20%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
.gallery-thumbs>.swiper-wrapper>.swiper-slide{
  border: 2px solid black;
  width: 60px;
  height: 60px;
}
.swiper-button-next{
  background-image: url(../images/arrow-right.png);
  position: relative;
  left: 390px;
  top: -55px;
}
.swiper-button-prev{
  background-image: url(../images/arrow-left.png);
  position: relative;
  top: -77px;
  left: 50px;
}
.info-container{
  width: 372px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 35px;
}
.info-container h1{
  margin-left: 0;
  font: 36px Supermolot-Light-Italic;
}
.info-container h2{
  font: 14px Supermolot-Light;
}
.info-container span{
  display: inline-block;
  margin-top: 30px;
  font: 14px Supermolot-Light;
  line-height: 30px;
}
.select-wrapper{
  display: inline-block;
  position: relative;
  width: 229px;
  height: 30px;
  margin-left: 8px;
}
.select-wrapper:hover {
  box-shadow: 0px 0px 3px gray;
}
.select-wrapper select {
  width: 229px;
  height: 30px;
  padding-left: 12px;
  border: 0;
  border-radius: 0;
  appearance: none;            /* remove arrow        */
  -webkit-appearance: none;    /* remove arrow Chrome */
  -moz-appearance: none;       /* remove arrow FF     */
  font: 14px Supermolot-Light;
  background: url(../images/select-ico.png) 95% no-repeat #e9e9e9;
}
.select-wrapper select::-ms-expand{
    display: none;             /* remove arrow IE     */
}
.buy-box{
  width: 221px;
  height: 187px;
  margin-top: 39px;
  border: 1px solid #DBDBDB;
  text-align: center;
}
.price-box{
  position: absolute;
  width: 221px;
  height: 117px;
  border-bottom: 1px solid #DBDBDB;
}
.price-old{
  display: block;
  position: absolute;
  width: 120px;
  left: 50%;
  top: 20px;
  margin-left: -60px;
  font: 16px Supermolot-Light-Italic;
  color: #999999;
  text-decoration: line-through;
}
.price{
  display: block;
  margin-top: 40px;
  font: 26px Supermolot-Bold;
  color: #Ed1651;
}
.stock{
  display: block;
  margin-top: 10px;
  font: 14px Supermolot-Light;
  text-align: center;
}
.buybtn{
  margin-top: 134px;
  width: 129px;
  height: 39px;
  background-color: #Ed1651;
  font: 16px Supermolot-Bold;
  color: #ffffff;
  border: none;
  background-image: url(../images/buy-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}
.shipping-icons{
  position: relative;
  margin-top: 25px;
}
.shipping-text, .shipping-icons>img{
  display: inline-block;
  font: 14px Supermolot-Light;
  color: #999999;
}
.shipping-text{
  position: absolute;
  top: 4px;
  left: 58px;
  letter-spacing: -1px;
}
.shipping-text>p{
  font: 14px Supermolot-Bold;
  text-transform: uppercase;
}
.swiper-slide > a{
  top:1px;
}
.slider-bottom{
  top: 238px;
}
